/* Background for the Login component with a dark overlay */
.container {
    min-height: 100vh; /* Full viewport height */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url('/public/frontpage_background.jpg'); /* Dark overlay + Image */
    background-size: cover; /* Ensure the image covers the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent tiling */
    display: flex; /* Flexbox for centering content */
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
  }

  .logo {
    width:200px;
    height: 100px; /* Adjust height as needed */
    background-image: url('/public/logo.png');
    background-size: cover; /* Ensures the image covers the area without distortion */
    background-position: center; /* Centers the image within the container */
    margin: 0 auto;  /* Centers the logo horizontally */
  }
  
/* Center the container */
.container {
    height: 100vh;
  }
  
  /* Gradient background and rounded corners for the card */
  .card {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 25px; /* Rounded corners */
    background: linear-gradient(to right, #239d5a, #5dd08b); /* Gradient background */
    box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.5); /* Updated shadow */
    color: white; /* White text */
  }
  
  /* Text under the email field */
  .card .form-text {
    color: white; /* Change text color to white */
  }
  
  /* Styling the login button */
  .loginButton {
    border-radius: 25px; /* Higher border radius for roundness */
    width: 150px;       /* Smaller button width */
    background: linear-gradient(to right, #2f0bcf, #9180ed); /* Gradient background */
    color: white;       /* White text */
    font-weight: bold;  /* Bold text */
    border: none;       /* Remove border */
    padding: 10px;      /* Add padding */
    cursor: pointer;    /* Pointer cursor */
  }
  
  /* Hover effect for login button */
  .loginButton:hover {
    background: linear-gradient(to right, #121111, #232221); /* Slightly lighter gradient on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow */
  }
  
  /* Disabled button styling */
  .loginButton:disabled {
    opacity: 0.6; /* Dimmed appearance */
    cursor: not-allowed;
  }
  
  /* Link styling for Register Now */
  a.text-decoration-none {
    color: white; /* Change link text color to white */
  }
  
  a.text-decoration-none:hover {
    color: yellow; /* Change link text color to yellow on hover */
  }